{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="container">

        <h4>TV x</h4>

        <p>Link tv {{tv.tvid}} to a Pi</p>
        <p>
            <form method="POST" action="tv">
                <input type="hidden" name="tvid" value="{{tv.tvid}}">
                <select name="hostname">
                    {% for pi in tv['pis'] %}
                    <option>
                        {{ pi.hostname }}
                    </option>
                    {% endfor %}
                </select>
                <button>Link</button>
            </form>
        </p>

    </div>
</div>

{% endblock %}